$headingLang : 'Play', sans-serif !important;
$myFont : 'Play', sans-serif !important;
$paraLang : 'Play', sans-serif !important;
$headingColor: #ad9e9e !important;
$textColor: #989898 !important;
$bgColor: #000000 !important;
$cardBg: #000000 !important;
$iconColor: #cccccc !important;
$boxShadow: 0 10px 20px 0 #333333,0 7px 6px 0 #333333 !important;
$borderColor: #292927 !important;
